<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>I Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://kit.fontawesome.com/88bf84b9d4.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-50 text-gray-800 font-sans">
    <!-- Navbar -->
    <nav class="bg-gradient-to-r from-purple-600 to-indigo-600 shadow-xs">
        <div class="container mx-auto px-6 py-4 flex items-center justify-between">
            <a class="text-white text-2xl font-bold" href="#">I Notes</a>
            <div class="hidden md:flex space-x-6 text-white">
                <a href="/" class="hover:underline">Home</a>
                <a href="#" class="hover:underline">About</a>
                <a href="#" class="hover:underline">Contact</a>
            </div>
            <button class="md:hidden text-white" id="menu-toggle">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto mt-10 px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 md:gap-8">
            <!-- Add Note Form -->
            <div>
                <div class="bg-white shadow-lg rounded-lg p-6">
                    <h5 class="text-xl font-semibold text-gray-700">Add Note</h5>
                    <form action="/add/" method="post" class="mt-4" enctype="multipart/form-data">
                        <input type="text" name="title" placeholder="Note Title"
                            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300 focus:outline-none" />
                        <textarea name="content" placeholder="Enter note content"
                            class="w-full px-4 py-2 mt-4 border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300 focus:outline-none"></textarea>
                        <input class="w-full py-2 text-xs cursor-pointer" name="noteFile" type="file">
                        <label class="inline-flex items-center mt-4">
                            <input type="checkbox" name="is_important" class="form-checkbox text-indigo-600" />
                            <span class="ml-2 text-sm text-gray-600">Mark as Important</span>
                        </label>
                        <button type="submit"
                            class="mt-4 w-full bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700 transition">
                            Add Note
                        </button>
                    </form>
                </div>
            </div>
            <!-- Notes List -->
            <div class="col-span-2">
                <!-- Search bar container -->
                <div class="flex justify-end items-center">
                    <div class="flex items-center border border-gray-300 rounded-lg shadow-lg w-full max-w-md ml-4">
                        <!-- Search input -->
                        <input type="text" id="search-input" placeholder="Search for notes..."
                            onkeyup="fetchNotesByTitle()"
                            class="w-full px-4 py-2 text-sm text-gray-700 border-r focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-l-lg" />

                        <!-- Search button -->
                        <button onclick="fetchNotesByTitle()"
                            class="px-4 py-2 text-sm text-white bg-indigo-600 rounded-r-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                            Search
                        </button>
                    </div>
                </div>
                <hr class="my-4" />
                <!-- Heading -->
                <div class="flex justify-between">
                    <h5 class="text-xl font-semibold text-gray-700">Your Notes</h5>
                    <div class="relative w-32">
                        <select id="filter" name="filter"
                            class="block w-full px-1 py-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-xs cursor-pointer">
                            <option value="ALL">All</option>
                            <option value="ASC">ASEC</option>
                            <option value="DESC">DESC</option>
                            <option value="IMP" class="text-red-500">Important Only</option>
                            <option value="NOT_IMP" class="text-indigo-500">Not Important</option>
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 my-4" id="notes-container">
                    {% for doc in newDocs %}
                    <div
                        class="relative bg-white shadow-lg rounded-lg px-6 pb-6 pt-4 border-t-4 {% if doc.is_important %}border-red-500{% else %}border-indigo-500{% endif %}">
                        <div class="flex justify-end">
                            <button class="text-sm text-indigo-600 hover:underline mr-3"
                                onclick="openModal('modal{{loop.index}}')">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="text-sm text-red-600 hover:underline"
                                onclick="toggleDeleteModal(true, '{{doc.id}}')">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>

                        <h6 class="text-lg font-bold text-gray-800">{{ doc.title }}</h6>
                        <div class="mt-2">
                            <button class="text-sm text-indigo-600 hover:underline"
                                onclick="toggleReadMore('collapse{{loop.index}}')">
                                Read note
                            </button>
                        </div>
                        <div id="collapse{{loop.index}}" class="hidden mt-4 text-sm text-gray-600">
                            {{ doc.content }}
                            {% if doc.noteFile %}
                            <img src="{{doc.noteFile}}" alt="Note file" width="50px"
                                class="h-auto max-w-full rounded-lg">
                            {% endif %}
                        </div>
                    </div>

                    <!-- Modal -->
                    <div id="modal{{loop.index}}"
                        class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
                        <div class="bg-white p-6 rounded-lg shadow-lg w-100">
                            <h5 class="text-lg font-semibold text-gray-700">Edit Note</h5>
                            <form action="/update/{{doc.id}}" method="post" class="mt-4" enctype="multipart/form-data">
                                <label class="inline-flex items-center mb-2 float-end">
                                    <input type="checkbox" name="is_important" {% if doc.is_important %}checked{% endif
                                        %} class="form-checkbox text-indigo-600" />
                                    <span class="ml-2 text-sm text-gray-600">Important</span>
                                </label>
                                <input type="text" name="title" value="{{doc.title}}"
                                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300 focus:outline-none" />
                                <textarea name="content"
                                    class="w-full px-4 py-2 mt-4 border border-gray-300 rounded-lg focus:ring focus:ring-indigo-300 focus:outline-none">{{doc.content}}</textarea>
                                {% if doc.noteFile %}
                                <img src="{{doc.noteFile}}" alt="Note file" width="50px"
                                    class="h-auto max-w-full rounded-lg">
                                {% endif %}
                                <input class="w-full py-2 text-xs cursor-pointer" name="noteFile" type="file">

                                <div class="flex justify-end space-x-2 mt-4">
                                    <button type="button"
                                        class="btn btn-light btn-sm mt-3 pt-1 pb-2 px-3 text-sm rounded-md bg-gray-300 text-gray-800 hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500"
                                        onclick="closeModal('modal{{loop.index}}')">
                                        Cancel
                                    </button>
                                    <button type="submit"
                                        class="btn btn-dark btn-sm mt-3 pt-1 pb-2 px-3 text-sm rounded-md bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                                        Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white rounded-lg shadow-lg p-6 w-1/3">
            <h2 class="text-lg font-semibold text-gray-800 mb-4">
                Do you really want to delete?
            </h2>
            <div class="flex justify-end space-x-4">
                <button
                    class="btn btn-gray btn-sm mt-3 pt-1 pb-2 px-3 text-sm rounded-md bg-gray-400 text-white hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500"
                    onclick="toggleDeleteModal(false)">
                    Cancel
                </button>
                <button
                    class="btn btn-red btn-sm mt-3 pt-1 pb-2 px-3 text-sm rounded-md bg-red-600 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500"
                    id="deleteBtn">
                    Delete
                </button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/static/script.js"></script>
</body>

</html>